*{
    margin: 0;
    padding:0;
    font-family: "Poppins", sans-serif;
}
/*header---$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.index{
    overflow-x: hidden;
}
.top {
    position: sticky;
    top: 0;
    z-index: 99;
}

.header {
   /* background-image: linear-gradient(to right  , rgb(15, 5, 71),rgb(70, 241, 213));
    background-image: linear-gradient(to right  , rgb(11, 1, 46),rgb(30, 18, 197));
      background-image:linear-gradient(aqua,blue); */
    background-image: linear-gradient(to right  , blue,rgb(0, 10, 10));
    height: 30px;
}

.bx {
   
    font-size: 10px;
    color: white;
}
.head h{
    font-size: 14px;
}
.details {
    display: flex;
    flex-direction: row;
    padding: 10px;

}
.bx-menu{
    background-color: black;
}
.search {

    position: absolute;
    right: 5px;
    display: flex;
    top:5px;

}

.icon {
    text-decoration-line: none;
    display: block;
}

.header  {
    font-size: 15px;
}
/*navbar---$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

nav ul li a{
    text-decoration: none;
    font-size: 17px;
    line-height: 70px; 
}

nav a:hover{
   
    background-image:linear-gradient( rgba(0, 0, 255, 0.856),rgb(2, 5, 34));
    box-shadow: 2px 2px 8px blue;
    color: white;
    width: 100%;
}

.sidebar{
   position: fixed;
   top:0;right:0;
   height: 100vh;
   width:100%;
   display: none;
   flex-direction: column;
   text-align: center;
}
.sidebar a{
    width: 100%;
}
.bx-menu{
    font-size: x-large; 
    top:0;right:0;
   
}
.menu-button{
    display: none;
}
.bxl-whatsapp{
    background-color:rgb(101, 216, 101);
    position:fixed;
    bottom: 0;
    right: 0;
    font-size:60px;
    border-radius: 30%;

}





@media only screen and (max-width:500px)
 {
    .top {
        position: sticky;
        top: 0;
        z-index: 99;


    }
    .close{
        background-color:black;
        
    }
    .bx {
        margin: 10px;
        font-size: 20px;
        color:black;
    }
    .bx .bx-x{
        font-size: 40px;
        color: blue;
        background-color: black;
       
    }
    .head {
        display: none;
    }

    .header {
        background-color: #2b95ff;
        height: 50px;
    }

    .bx {
        margin: 10px;
        font-size: 20px;
        color: white;
    }

    .details {
        display: flex;
        flex-direction: row;
        padding: 10px;

    }

    .search {
        position: absolute;
        right: 5px;
        display: flex;
        top:5px;

    }

    .icon {
        text-decoration-line: none;
        display: block;
    }

    .hideOnMobile{
        display: none;
      
    }
    .menu-button{
        display: block;
        
        right:0px;top:0px;
    }

    /*=========================== background img with content=============================*/
    .content{
        position: relative;
        background-image: linear-gradient(blue,rgb(0, 10, 10));
        background-repeat: no-repeat;
        background-size:auto;
        width:100%;height: 80vh;
        text-align: center;
        
        
    }
    .content .text{
        position: absolute;
        top:10%;left:0%;
        width: 100%;
        z-index: 0;
        color:white;
        text-shadow: -1px 1px 0 blue, 1px 1px 0 blue,1px -1px 0 blue,-1px -1px 0 blue;
        text-align: center;
    }

    .content img{
       display: none;
    }
    .text h2{
        
        padding:0px 15px  60px 15px;
     }
    
     .text .p1{
        font-size: 20px;
        padding-bottom: 35px;
     }
     .text .p3{
         padding-left: 60px;
         padding-bottom: 75px;
      }
 
     .watchbox{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     
     .watch{
         text-decoration: none;
         margin:10px 0px;
         color:white;
         border:2px solid white;
         width: 200px;
        
     
     }
   

    .first h2 {
        padding: 5px 10PX;
        font-size: 15px;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        color:blue;
        text-align: center;
        letter-spacing: 2px;
        line-height: 40px;
        padding-bottom: 5PX;
      
    }
   
    .verse {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
       

    }
    .verse img{
        width:250px;
        height:300px;
        margin: 10px 0px;
    }
    .help h1{
        padding: 10px 10px;
        font-size: 15px;
        font-family: Montserrat, sans-serif;
        text-align: center;
        letter-spacing: 2px;
        line-height: 30px;
        color: blue;
       

    }
    .fcontainer{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(blue,rgb(0, 10, 10));
        text-align: center; 
        
    }

    
    .foot-col ul li{
        
        list-style: none;
       
        
    }
   
   
    .foot-col h4{
        font-size: 18px;
        text-decoration: underline;
        font-style: oblique;
        color: rgb(167, 227, 238);
       
    }
   
    .foot-col h{
        font-size: 14px;
        font-style: oblique;
       
    }
    .foot-col ul li a{
        text-decoration: none;
        font-size: 14px;
        padding: 5px 0px;
        font-style: oblique;
        color: white;
        
    }
    
    .footicon{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        background-color: rgb(0, 10, 10);
       
    }
    .footicon .bx{
        border-radius: 100%;
        background-color: black;
    }
    .bxl-whatsapp{
        background-color:rgb(101, 216, 101);
        position:fixed;
        bottom: 0;
        right: 0;
        font-size:50px;
        border-radius: 100%;
    
    }
   
   
    
    }
    

  




@media only screen and (min-width:501px)  and (max-width:798px) 
{
    .sidebar{
        width: 100%;
        
    }
    .top {
        position: sticky;
        top: 0;
        z-index: 99;


    }
    .close{
        background-color:black;
        
    }
    .bx {
        margin: 10px;
        font-size: 20px;
        color:black;
    }
    .bx .bx-x{
        font-size: 40px;
        color: blue;
        background-color: black;
       
    }
    .head {
        display: none;
    }

    .header {
        background-color: #2b95ff;
        height: 50px;
    }

    .bx {
        margin: 10px;
        font-size: 20px;
        color: white;
    }

    .details {
        display: flex;
        flex-direction: row;
        padding: 10px;

    }

    .search {
        position: absolute;
        right: 5px;
        display: flex;
        top:5px;

    }

    .icon {
        text-decoration-line: none;
        display: block;
    }

    .hideOnMobile{
        display: none;
      
    }
    .menu-button{
        display: block;
        
        right:0px;top:0px;
    }

    /*=========================== background img with content=============================*/
    .content{
        position: relative;
        background-image: linear-gradient(blue,rgb(0, 10, 10));
        background-repeat: no-repeat;
        width:100%;height: 80vh;
        text-align: center;
        
    }
    .content .text{
        position: absolute;
        top:10%;left:0%;
        width: 100%;
        z-index: 0;
        color:white;
        text-shadow: -1px 1px 0 blue, 1px 1px 0 blue,1px -1px 0 blue,-1px -1px 0 blue;
        text-align: center;
    }

    .content img{
       display: none;
    }
    .text h2{
        font-size: 35px;
        padding-bottom: 80px;
     }
  
     .text .p1{
        font-size: 35px;
        padding-bottom: 20px;
     }
     .text .p3{
         
         padding-bottom: 80px;
      }
 
     
     
     .watch{
         text-decoration: none;
         font-size: 25px;
         color:white;
         border:2px solid white;
     }
   

    .first h2 {
        padding: 5px 10PX;
        color: blue;
        font-size: 25px;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        text-align: center;
        letter-spacing: 2px;
        line-height: 40px;
        padding-bottom: 5PX;
    }

    .verse {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
       

    }
    .verse img{
        width:350px;
        height:300px;
        margin: 10px 0px;
    }
    .help h1{
        padding: 10px 10px;
        font-size: 25px;
        font-family: Montserrat, sans-serif;
        text-align: center;
        letter-spacing: 2px;
        line-height: 30px;
        color: blue;
       

    }
    .fcontainer{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(blue,rgb(0, 10, 10));
        text-align: center; 
        
    }

    
    .foot-col ul li{
        
        list-style: none;
       
        
    }
   
   
    .foot-col h4{
        font-size: 20px;
        text-decoration: underline;
        font-style: oblique;
        color: aliceblue;
       
    }
   
    .foot-col h{
        font-size: 16px;
        font-style: oblique;
       
    }
    .foot-col ul li a{
        text-decoration: none;
        font-size: 16px;
        padding: 5px 0px;
        font-style: oblique;
        color: white;
        
    }
    
    .footicon{
        padding-top: 20px;
        display: flex;
        justify-content: center; 
        background-color: rgb(0, 10, 10);
       
    }
    .footicon .bx{
        border-radius: 100%;
        background-color: black;
    }
    .bxl-whatsapp{
        background-color:rgb(101, 216, 101);
        position:fixed;
        bottom: 0;
        right: 0;
        font-size:60px;
        border-radius: 100%;
    
    }
   
   
}
@media only screen and (min-width:798px)  and (max-width:1500px) 
   
    {.top {
        position: sticky;
        top: 0;
        z-index: 99;
        overflow: hidden;


    }

    .header {
        background-color: #2b95ff;
        height: 50px;
    }
    .head{
        color:white;
    }

    .bx {
        margin: 10px;
        font-size: 20px;
        color: white;
    }

    .details {
        display: flex;
        flex-direction: row;
        padding: 10px;

    }

    .search {

        position: absolute;
        right: 5px;
        display: flex;
        top:5px;

    }

    .icon {
        text-decoration-line: none;
        display: block;
    }


    .giving {
        border: 2px solid #b0e9d9;
        color: white;
        background-color: rgb(79, 148, 194);
        margin-left: 85px;
        justify-content: center;
        padding-left: 0px;
        box-shadow: 0 2px 20px 0px;

    }

    /*==================== after header======================*/
    

    /*#slideimg{
        width:100%; 
        height:85vh;
        filter:brightness(50%);
        animation:zoom 3s linear infinite;
        
    }
    @keyframes zoom{
        0%{
            transform: scale(1.1);
        }
        15%{
            transform: scale(1);
        }
        85%{
            transform: scale(1);
        }
        100%{
            transform: scale(1.1);
        }
    }*/

   

    #slideimg{
        width:100%; 
        height:85vh;
    }
    .content{
        position: relative;
        text-align: center;
        
    }
    .content .text{
        position: absolute;
        top:10%;left:0%;
        width: 100%;
        z-index: 0;
        color:white;
        text-shadow: -1px 1px 0 blue, 1px 1px 0 blue,1px -1px 0 blue,-1px -1px 0 blue;

        
        
    }

    .text h2{
        font-size: 60px;
        padding-bottom: 70px;
     }
     .text .p1{
        font-size: 25px;
        padding-bottom: 50px;
        
     }
     .text .p3{
         font-size: 20px;
         padding-bottom: 100px;
         padding-left: 50px;
      }
 
     
     
     .watch{
         text-decoration: none;
         font-size: 25px;
         color:white;
         border:2px solid white;
     }
    


    .first h2 {
       
        font-size: 40px;
        font-family: Montserrat, sans-serif;
        font-weight: 900;
        text-align: center;
        letter-spacing: 2px;
        line-height: 70px;
        padding:20px 100px 10PX 100px;
        color: blue;
       
    }

   

    .verse {
       
        
        text-align: center;
        justify-content: center;
      

    }
    .verse img{
        width:550px;
        height:400px;
        padding: 10px;
    }

    .bxl-whatsapp {
        color: green;
    }

    
    .help h1{
        padding-top: 10px;
        font-size: 40px;
        font-family: Montserrat, sans-serif;
        text-align: center;
        letter-spacing: 2px;
        line-height: 70px;
        padding-bottom: 10PX; 
        color:blue;
   

    }
    
    
    
    
    
    
    .bxl-whatsapp{
        background-color:rgb(101, 216, 101);
        position:fixed;
        bottom: 0;
        right: 0;
        font-size:70px;
        border-radius: 50%;

    }
    .fcontainer{
        width:100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-image: linear-gradient(blue,rgb(0, 10, 10));
        
       
    }
    
    .foot-col ul li{
        
        list-style: none;
        align-items:start;
        
    }
    .foot-col h4{
        font-size: 20px;
        text-decoration: underline;
        font-style: oblique;
        color:whitesmoke;
    }
    .foot-col h{
        font-size: 16px;
       
        font-style: oblique;
    }
    .foot-col ul li a{
        text-decoration: none;
        font-size: 16px;
        padding: 5px 0px;
        font-style: oblique;
        
    }
    .foot-col a{
        display: flex;
        flex-direction: column;
        color: white;
    }
    .footicon{
        display: flex;
        justify-content: center;
            
        background-color: rgb(0, 10, 10);
       
    }
    .footicon .bx{
        border-radius: 100%;
        background-color: rgb(0, 10, 10);
    }
    }