@media only screen and (max-width:500px) {


    * {
        padding: 0;
        margin: 0;
      

    }
    .index{
        overflow-x: hidden;
    }
    .top {
        position: sticky;
        top: 0;
    }
    .head {
        display: none;
    }

    .header {
        background-color: #2b95ff;
        box-shadow: 0 0 50px 0 #2b95ff ;
        height: 30px;
    }

    .bx {
        margin: 5px;
        font-size: 20px;
        color: white;
    }

    .details {
        display: flex;
        flex-direction: row;
        padding: 10px;

    }
    .bx-menu{
        background-color: black;
    }
    .search {

        position: absolute;
        right: 5px;
        display: flex;
        top:5px;

    }

    .icon {
        text-decoration-line: none;
        display: block;
    }

    .header  {
        font-size: 15px;
    }

   

    h1 {
        text-align: left;
    }

    ul {
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 250px;
       
    }
    ul a:hover{
        color:black;
        text-decoration: underline;
        
    }
    .sub {
        text-decoration-line: none;
        position: relative;
        justify-content: center;
        background-size:250px;
        right:80%;
        padding:15px 120px ;
        font-size: 20px;
        display: none;
        color: white;
       
    }

    .nav {
        display: inline-block;
        padding-bottom: 5px;
        background-color: white;
        border-bottom: 2px solid whitesmoke;
        overflow: hidden;
       

    }
    .bx-menu {
        position: absolute;
        right: 15PX;
        bottom: 40px;
        
        background-color: #2b95ff;
    }
    .bx-menu:hover{
       color: blue;
       background-color: white;
    }
    .main:hover .sub{
        display: block;
        background-color: #2b95ff;
        width:100%;
    }
    .nav h1 {
        font-size: 20px;
        color: red;
    }
    .navlinks:active .sub{
        display: block;
    }

    .logo {
        float: left;
        position: relative;
        right:250px;
        background-color: white;

    }
    
    .giving {
        border: 2px solid #b0e9d9;
        color: white;
        background-color: #2b95ff;
        margin-left: 85px;
        justify-content: center;
        padding-left: 0px;
        box-shadow: 0 2px 20px 0px;

    }
    .iconmenu{
        color:white;
        float: right;
    
    }
    /*.content
    {
    background-image: url(ch.img);
    width:100%; height:550px;
    background-repeat: no-repeat;
    left:40%; top:20%;
    animation-name:image;
    animation-duration: 2s;
    animation-timing-function:unset;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    }
    @keyframes image
    {
    0%{background-image:url(chlogo.jpeg);}
    50%{background-image:url(nlftpt.jpeg);}
    100%{background-image:url(nlf.jpeg); }
    }
    */
    
    .first h1 {
        padding-top: 20px;
        font-size: 30px;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        text-align: center;
        letter-spacing: 2px;
        line-height: 50px;
        margin:10px 20px;
    }

    .first h2 {
        padding-top: 10px;
        font-size: 20px;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        text-align: center;
        letter-spacing: 2px;
        line-height: 50px;
        padding-bottom: 10PX; margin:10px 20px;
    }

    .media {
        background-color: blue;
        align-content: center;
    }

    .footer {
        background-color: white;
    }

   

    .verse {
        background-color: #2b95ff;
        color: white;
        font-size: 20px;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        text-align: center;
        letter-spacing: 2px;
        line-height: 70px;
        padding: 0px 20px;

    }

    .bxl-whatsapp {
        color: green;
    }

    .testimony {
        margin: 10px;
    }

    .testimony h1 {

        color: #c02727;
        text-align: center;

    }

    .testimony h3 {

        padding: 10px;
        color: #c02727;
        ;
    }

    .testimony p {
        width: 550px;
        letter-spacing: 1px;
        line-height: 20px;

    }

    .test {
        padding: 10px;
        border-bottom: 2px solid whitesmoke;
    }

    .test h2 {
        padding-bottom: 10px;
    }
    
    .foot ul{
        
        width:fit-content;
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
        color:white;
    
    }
    
    .foot ul li{
        position: relative;
        text-decoration: none;
        list-style-type: none;
        padding: 5px;
        font-size: 25px; 
        color:white;
    }
    .foot ul li a{
        color:white;
    }
    .communication{
        width:fit-content;
        height: fit-content;
        margin-right: 60px;
        color:white;
        font-size: 15px;
    
    }
    .communication h3{
        width:fit-content;
        height: fit-content;
        margin-right: 60px;
        color:white;
        font-size: 15px;
        padding: 10px 0px;
    
    }
    .footer{
 
        background-color:rgb(79, 148, 194);
        
    }
    .fcontact{
    height:fit-content;
    width:fit-content;
    right:300px;
    color:white;
   
    }
    .footicon{
       
        display: flex;
        justify-content: center;
        background-color: rgb(79, 148, 194);
    }
    
    .bxl-whatsapp{
        background-color:rgb(101, 216, 101);
        position:fixed;
        bottom: 0;
        right: 0;
        font-size:70px;
        border-radius: 50%;

    }

  
}


@media only screen and (min-width:501px) and (max-width:1100px) {


    * {
        padding: 0;
        margin: 0;

    }

    .top {
        position: sticky;
        top: 0;
        z-index: 99;


    }

    .header {
        background-color:rgb(79, 148, 194);
        height: 50px;
    }

    .bx {
        margin: 10px;
        font-size: 20px;
        color: white;
    }

    .details {
        display: flex;
        flex-direction: row;
        padding: 10px;

    }

    .search {
        position: absolute;
        right: 5px;
        display: flex;
        top:5px;

    }

    .icon {
        text-decoration-line: none;
        display: block;
    }

    .header h {
        font-size: 15px;
    }

    .bx-menu {
        position: absolute;
        right: 5PX;
    }

    h1 {
        text-align: left;
    }

    ul {
        float: right;
        display: flex;
        justify-content: space-between;
        margin: 0px 10px;


    }

    ul a {
        text-decoration-line: none;
        padding-right: 2px;
        padding-left: 24px;
        font-size: 20px;
        margin: auto;
        justify-content: center;

    }
    ul a:hover{
        color:black;
        text-decoration: underline;
        
    }
    .nav {
        display: inline-block;
        padding-bottom: 5px;
        background-color: white;
        border-bottom: 2px solid whitesmoke;

    }

    .nav h1 {
        font-size: 20px;
        color: red;
    }

    .logo {
        float: left;
        padding-left: 15px;

    }

    .giving {
        border: 2px solid #b0e9d9;
        color: white;
        background-color:rgb(79, 148, 194);
        margin-left: 85px;
        justify-content: center;
        padding-left: 0px;
        box-shadow: 0 2px 20px 0px;

    }
    
    .content{
        position: relative;
        
    }
    .content .text{
        position: absolute;
        left:18%;top:15%;
        z-index: 0;
        color:white;
        text-shadow: -1px 1px 0 blue, 1px 1px 0 blue,1px -1px 0 blue,-1px -1px 0 blue;
        font-size: 15PX;
        font-family: sans-serif;
        justify-content: center;
    }
    .text h2{
        position: absolute;
        left:8%;top:65%;
    }
    .text .p1{
        position: absolute;
        left:5%;top:100%;
    }

    }
    .text .p2{
        position: absolute;
        left:50%;top:140%;
    }
    .watch1,.watch2{
        text-decoration: none;
        position: relative;
        right:0px;top:200px;
        font-size: 10px;
        color:rgb(89, 130, 218);
        border:2px solid rgb(101, 101, 190);
        width:100px;
       


    }
    .first h1 {
        padding-top: 20px;
        font-size: 40px;
        font-family: Montserrat, sans-serif;
        font-weight: 900;
        text-align: center;
        letter-spacing: 2px;
        line-height: 70px;

    }

    .first h2 {
        padding-top: 20px;
        font-size: 30px;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        text-align: center;
        letter-spacing: 2px;
        line-height: 70px;
        padding-bottom: 10PX;
    }
    
    .media {
        background-color: rgb(79, 148, 194);
        align-content: center;
    }

    .footer {
        background-color: black;
    }

    #inputbox {
        width: 600px;
        background-color: blanchedalmond;
    }

    .verse {
        background-color: rgb(79, 148, 194);
        color: white;
        font-size: 30px;
        font-family: Montserrat, sans-serif;
        font-weight: 900;
        text-align: center;
        letter-spacing: 2px;
        line-height: 70px;

    }

    .bxl-whatsapp {
        color: green;
    }

    .testimony {
        margin: 10px;
    }

    .testimony h1 {

        color: #c02727;
        text-align: center;

    }

    .testimony h3 {

        padding: 10px;
        color: #c02727;
        ;
    }

    .testimony p {
        width: 550px;
        letter-spacing: 1px;
        line-height: 20px;

    }

    .test {
        padding: 10px;
        border-bottom: 2px solid whitesmoke;
    }

    .test h2 {
        padding-bottom: 10px;
    }

    

  


@media only screen and (min-width:1101px) and (max-width:1500px) {


    * {
        padding: 0;
        margin: 0;
        
    }

    .top {
        position: sticky;
        top: 0;
        z-index: 99;
        overflow: hidden;


    }

    .header {
        background-color:rgb(79, 148, 194);
        height: 50px;
    }

    .bx {
        margin: 10px;
        font-size: 20px;
        color: white;
    }

    .details {
        display: flex;
        flex-direction: row;
        padding: 10px;

    }

    .search {

        position: absolute;
        right: 5px;
        display: flex;
        top:5px;

    }

    .icon {
        text-decoration-line: none;
        display: block;
    }

  
    .bx-menu {
        position: absolute;
        right: 5PX;
    }

    h1 {
        text-align: left;
    }

    ul {
        float: right;
        display: flex;
        justify-content: space-between;
        margin: 0px 90px;


    }

    ul a {
        text-decoration-line: none;
        padding-right: 3px;
        padding-left: 84px;
        font-size: 20px;
        margin: auto;
        justify-content: center;

    }
    ul a:hover{
        color:black;
        text-decoration: underline;
        
    }
   

    .nav {
       
        display: inline-block;
        padding-bottom: 5px;
        background-color: white;
        border-bottom: 2px solid whitesmoke;
    

    }

    .nav h1 {
        font-size: 20px;
        color: red;
    }

    .logo {
        float: left;
        padding-left: 15px;

    }

    .giving {
        border: 2px solid #b0e9d9;
        color: white;
        background-color: rgb(79, 148, 194);
        margin-left: 85px;
        justify-content: center;
        padding-left: 0px;
        box-shadow: 0 2px 20px 0px;

    }
    .content{
        position: relative;
        
    }
    .content .text{
        position: absolute;
        left:20%;top:5%;
        z-index: 0;
        color:white;
        text-shadow: -1px 1px 0 blue, 1px 1px 0 blue,1px -1px 0 blue,-1px -1px 0 blue;
        font-size: 25PX;
        font-family: sans-serif;
        justify-content: center;
    }
    .text h2{
        position: absolute;
        left:15%;top:45%;
    }
    .text .p1{
        position: absolute;
        left:13%;top:100%;
    }

    }
    .text .p2{
        position: absolute;
        left:50%;top:120%;
    }
    .watch1,.watch2{
        text-decoration: none;
        position: relative;
        right:20px;top:200px;
        font-size: 20px;
        color:rgb(89, 130, 218);
        border:2px solid rgb(101, 101, 190);
        
        width:200px;
        margin-left:140px;


    }
     /*.content
    {
    background-image: url(ch.img);
    width:100%; height:550px;
    background-repeat: no-repeat;
    left:40%; top:20%;
    animation-name:image;
    animation-duration: 2s;
    animation-timing-function:unset;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    }
    @keyframes image
    {
    0%{background-image:url(chlogo.jpeg);}
    50%{background-image:url(nlftpt.jpeg);}
    100%{background-image:url(nlf.jpeg); }
    }
    */
    .first h1 {
        padding-top: 20px;
        font-size: 40px;
        font-family: Montserrat, sans-serif;
        font-weight: 900;
        text-align: center;
        letter-spacing: 2px;
        line-height: 70px;
        color:blue;
        

    }

    .first h2 {
        padding-top: 20px;
        font-size: 30px;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        text-align: center;
        letter-spacing: 2px;
        line-height: 70px;
        padding-bottom: 10PX;
    }

    .media {
        background-color: blue;
        align-content: center;
    }

    
    

    #inputbox {
        width: 600px;
        background-color: blanchedalmond;
    }

    .verse {
        background-color:rgb(79, 148, 194);
        color: white;
        font-size: 30px;
        font-family: Montserrat, sans-serif;
        font-weight: 900;
        text-align: center;
        letter-spacing: 2px;
        line-height: 70px;

    }

    .bxl-whatsapp {
        color: green;
    }

    .testimony {
        margin: 10px;
    }

    .testimony h1 {

        color: #c02727;
        text-align: center;

    }

    .testimony h3 {

        padding: 10px;
        color: #c02727;
        ;
    }

    .testimony p {
        width: 550px;
        letter-spacing: 1px;
        line-height: 20px;

    }

    .test {
        padding: 10px;
        border-bottom: 2px solid whitesmoke;
    }

    .test h2 {
        padding-bottom: 10px;
    }
    .help h1{
        padding-top: 10px;
        font-size: 30px;
        font-family: Montserrat, sans-serif;
        text-align: center;
        letter-spacing: 2px;
        line-height: 70px;
        padding-bottom: 10PX;
        

    }
    
    .foot ul{
        
        width:fit-content;
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
        color:white;
    
    }
    
    .foot ul li{
        position: relative;
        text-decoration: none;
        list-style-type: none;
        padding: 10px;
        font-size: 25px; 
        color:white;
    }
    .foot ul li a{
        color:white;
    }
    .communication{
        width:fit-content;
        height: fit-content;
        margin-right: 60px;
        color:white;
        font-size: 15px;
    
    }
    .communication h3{
        width:fit-content;
        height: fit-content;
        margin-right: 60px;
        color:white;
        font-size: 15px;
        padding: 15px 0px;
    
    
    }
    .footer{
        display: flex;
        flex-direction: row;
        background-color:rgb(79, 148, 194);
        
    }
    .fcontact{
    height:fit-content;
    width:fit-content;
    right:300px;
    color:white;
    }
    .footicon{
       
        display: flex;
        justify-content: center;
        background-color: rgb(79, 148, 194);
    }
    
    .bxl-whatsapp{
        background-color:rgb(101, 216, 101);
        position:fixed;
        bottom: 0;
        right: 0;
        font-size:70px;
        border-radius: 50%;

    }
    
    
   
