*{
    padding: 0;
    margin: 0;
}
.top{
    position: sticky;
    top:0;
    
    
}
.header{
    background-color: #2b95ff;
    height: 50px;   
}
.bx{
    margin: 10px;
    font-size: 20px;
    color:white;
}

.details{
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}

.search{
   
    position: absolute;
    right:5px;
    display: inline-block;
    
}
.icon{
    text-decoration-line: none;
}
.header h{
    font-size:15px ;
}

.bx-menu{
    position: absolute;
    right: 5PX;
}
h1{
    text-align:left;
}
/* from drop css-------------------------------------------------------------------------*/
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
   

}
ul li {
    margin:25px 30px;   
}
ul li a{
    text-decoration: none;
    font-size: 20px;
}
nav a:hover{
    text-decoration: underline;
}
.sidebar{
   position: fixed;
   top:10;right:10;
   height: 100vh;width:250px;
   display: none;
   flex-direction: column;
   justify-content:flex-end;
   z-index: 99;
   

}
.sidebar a{
    width: 100%;
}
.bx-menu{
    font-size: x-large; 
    top:20;right:30;
    color: chartreuse;
    position: fixed;
   
}
.menu-button{
    display: none;
}

@media only screen and (max-width:500px) {
    .sidebar{
        width: 100%;
       
    }
    .head{
        display: none;
    }
    .search{
        background-color: rgb(255, 0, 149);
    }
}
@media only screen and (min-width:500px) and (max-width:800px) {
    .top {
        position: sticky;
        top: 10;
        z-index: 99;


    }
    .search {

        position: absolute;
        right: 5px;
        display: flex;
        top:5px;
        background-color: antiquewhite;

    }
    
    .hideOnMobile{
        display: none;
      
    }
    .menu-button{
        display: block;
        
        right:0px;top:20px;
    }
}
@media only screen and (min-width:800px) and (max-width:1300px) {
    .hideOnMobile{
        display: none;
      
    }
    .menu-button{
        display: block;
        right:0px;top:0px;
        color: blue;
    }
    .search {

        position: absolute;
        right: 5px;
        display: flex;
        top:5px;
        background-color: rgb(217, 215, 250);

    }
    
}

div h1{
    text-align: center;
    color: blue;
    font-size: 50px;
}
div h3{
    text-align: center;
}
div iframe{
    padding-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}
div h2{
    text-align: center;
    color: blue;
    padding-top: 20px;
}
.addr{
    display: inline-block;
}